<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment9</title>
</head>
<body>
 {% block content9 %}
<header style="text-align: center">
    {% if session.get('loggedIn')==False or 'loggedIn' not in session %}
        <h2 style="color:blueviolet">Guest</h2>
    {% endif %}
    {% if session.get('loggedIn')==True %}
        <h2 style="color: blueviolet"> Hello {{ session['username'] }}</h2>
    {% endif %}
</header>
   <h1 style="margin:12px;">Search users</h1>
<form name="search" method="get" action="{{ url_for('hello_assignment9') }}">
	<label for="searchBox">Search by Username:</label>
	<input type="text" id="searchBox" name="username">
	<input type="submit" value="Search">
</form>
{% if search %}
	{% if found==True %}
        <br>
        <span>Username: </span><span style="color:#ff0000">{{ username }}</span> <br>
		<span>First name: {{ users["firstName"] }}</span><br>
        <span>Last name: {{ users["lastName"] }}</span><br>
		<span>Email: {{ users["email"] }}</span>
	{% elif found==False %}
        <br>
		<div>There is no such user in the list.</div>
	{% else %}
		{% for user in users %}
            <br>
			<span>Username: {{ user }}</span><br>
			<span>First name: {{ users[user]["firstName"] }}</span><br>
            <span>Last name: {{ users[user]["lastName"] }}</span><br>
			<span>Email: {{ users[user]["email"] }}</span><br>
		{% endfor %}
	{% endif %}
    {% endif %}
    {% if session.get('loggedIn')==False or 'loggedIn' not in session %}
		<h1 style="text-align: center">Registration Form</h1>
		<form style="text-align: center" name="registration" method="post" action="{{ url_for('hello_assignment9') }}">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username"><br>
			<label for="firstname">First Name:</label>
			<input type="text" id="firstname" name="firstname"><br>
            <label for="lastname">Last Name:</label>
			<input type="text" id="lastname" name="lastname"><br>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email"><br>
			<input type="submit" value="Register">
		</form>
    {% if exists %}
        <br>
        <span> User already Exist, try different username </span>
    {% endif %}
        {% else %}
{% endif %}
{% if session.get('loggedIn')==True %}
    <span  style="font-weight: bold;"> {{ session['username'] }} </span> <span>is Logged in</span>
    <br>
		<form name="registration" method="post" action="{{ url_for('hello_assignment9') }}">
        <input type="submit" value="Log Out">
        </form>
{% endif %}
<hr style="margin:10px 0 10px 0;">
{% endblock %}
</body>
</html>