<header>
    <h2> Insert new User</h2>
    <form action="/insert_user" method="POST">
         <label for="username"> username:</label>
        <br>
        <input name="username" id="username">
        <br>
        <label for="firstname"> First name:</label>
        <br>
        <input name="firstname" id="firstname">
        <br>
        <label for="lastname"> Last name:</label>
        <br>
        <input name="lastname" id="lastname">
        <br>
        <label for="email"> email:</label>
        <br>
        <input name="email" id="email">
        <br>
        <input type="submit">
    </form>
</header>