<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Alon Levin's CV </title>
        <link rel="stylesheet" href="AlonCV.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="AlonCV.js"></script>
    </head>
    <body>

         <div class="row">
             <div class="col-1 menu" style="color: aliceblue">
                 <a href="#About" style="color:white">ABOUT </a>|
                 <a href="#Experience" style="color:white">EXP </a>|
                 <a href="#Skills" style="color:white"> SKILLS </a>|
                 <a href="#Contact" style="color:white"> Contact </a> |
                 <a href="Contact.html"  style="color:white"> List of Contact </a>
             </div>

             <div class="col-2 right main1">
                  <h1
                  style="font-size:2vw">Alon Levin
                  </h1>
                  <h2>
                  <img class="selfie" src="Black%20Shirt.png" alt="selfie" width="25%"
                  height="40%" >
                  </h2>
                 <h3>
                     Email: AlonLevin174@gmail.com  || Phone no: +972546575056
                 </h3>
             </div>

             <div id="About" class="col-2 right main2">
                  <h1
                  style="font-size:2vw">About
                  </h1>
                  <h2

                      style="font-size:1vw"> 3rd year Industrial engineering and management student
                  </h2>
                 <h3>
                     Age :29
                 </h3>
                 <h4>
                     Lives in Beer Sheva
                 </h4>
             </div>

             <div id="Experience" class="col-2 right main3"
                  style="font-size:2vw">Work Experience:
                 <h1
                      style="font-size:1vw"> ROC MS AT INTEL SINCE 2019 until PRESENT<br>
                      Working with dozens of factory tools.<br>
                     Ensuring the effective and simultaneous operation of the tools, while maximizing quality, utilization and output.<br>
                     Control and monitoring with highly sophisticated systems<br>
                     Remote troubleshooting and complex tasks in order to manipulate lots per line needs<br>
                     Track and anticipate downtime activities a and prevent significant factory impact<br>
                  </h1>
                 <h2
                     style="font-size:1vw"> PROFESSIONAL FOOTBALL PLAYER AT BNEI EILAT SINCE 2017 UNTIL 2018<br>
                     Team top goal scorer<br>
                 </h2>
                 <h3
                     style="font-size:1vw"> DATA ANALYIST AT WIESSBEERGER 2017<br>
                     Analyzing gaps in customers data base<br>
                     Extracting and completing customers data
                 </h3>

             </div>

             <div id="Skills" class="col-2 right main4"
                  style="font-size:2vw">Skills:
                 <h1
                     style="font-size:1vw"> JAVA, SQL, Microsoft Office, Data analysis, Leadership, Team management,<br>
                     project management, project planning, analytical skills, coordinating<br>
                 </h1>
             </div>

             <div id="Contact" class="col-2 right main5"
                  style="font-size:2vw">
                 <h1
                  style="font-size:2vw">Contact
                  </h1>
                 <form>
                     <label for="fname">First name:</label><br>
                     <input type="text" id="fname" name="fname"><br>
                     <label for="lname">Last name:</label><br>
                     <input type="text" id="lname" name="lname"><br>
                     <label for="lemail">email:</label><br>
                     <input type="email" id="lemail" name="lemail"><br>
                     <button type="submit" id="fcf-button" name="submit" onclick="myFunction()">Send</button>
                 </form>
             </div>

         </div>

    </body>
</html>